<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<body>
  <wrapper id="wrap">
    <h1>항해99-17조</h1>
    <nav>
      <div class="nav01">
        <p><a href="/login">로그인</a></p>
        <p><a href="/join">회원가입</a></p>
      </div>
    </nav>
    <header>
      head
    </header>
    <div id="wrap01">
      <main>
        main
      </main>
      <aside>
        asid
      </aside>
    </div>
  </wrapper>
  <footer>
    <h2>조원</h2>
    <ul>
      <li>이승재</li>
      <li>이규형</li>
      <li>장호경</li>
      <li>조철희</li>
      <li>김수현</li>
    </ul>
  </footer>

</body>
</html>