<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<body>
  <wrapper id="wrap">
    <h1>항해99-17조</h1>
    <nav>
      <div class="nav01">
        <p><a href="/login">로그인</a></p>
        <p><a href="/join">회원가입</a></p>
      </div>
    </nav>
    <header>
      head
    </header>
    <div id="wrap01">
      <main>
        main
      </main>
      <aside>
          <form action="" class="calorieForm">
              <h2>칼로리 계산</h2>
              <div class="cal-la01">
                <lable>음식이름</lable>
                <input id="cal_input" type="text">
                <button onclick="cal()">계산하기</button>
              </div>

              <div class="cal-la01"><p>탄수화물</p><div class="cal-la02">값1</div><p>칼로리</p></div>
              <div class="cal-la01"><p>단백질</p><div class="cal-la02">값2</div><p>칼로리</p></div>
              <div class="cal-la01"><p>지방</p><div class="cal-la02">값3</div><p>칼로리</p></div>
              <div class="cal-la01"><p>열량</p><div class="cal-la02">값4</div><p>칼로리</p></div>
          </form>
      </aside>
    </div>
  </wrapper>
  <footer>
    <h2>조원</h2>
    <ul>
      <li>이승재</li>
      <li>이규형</li>
      <li>장호경</li>
      <li>조철희</li>
      <li>김수현</li>
    </ul>
  </footer>
</body>
<script>
    function cal()
</script>
</html>